.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem
}

.inputField label {
  display: block;
  height: 1.6rem;
}

.inputField {
  width: 100%;
  position: relative;
}

.inputField input,
.inputField textarea {
  width: 100%;
  padding: .8rem;
  border-radius: .2rem;
  background: var(--cor-2);
  transition: .2s;
}

.inputFieldMensagem {
  grid-column: 2;
  grid-row: 1 / 3;
}

.inputFieldMensagem textarea {
  height: calc(100% - 1.6rem);
}

.inputField input::placeholder,
.inputField textarea::placeholder {
  color: var(--cor-3)
}

.inputField input:focus,
.inputField input:hover,
.inputField textarea:focus,
.inputField textarea:hover {
  box-shadow: 0 0 0 1px var(--cor-3);
}

.inputField.error input, .inputField.error textarea{
  box-shadow: 0 0 0 1px rgb(245, 92, 46);
}
.inputField p {
  top: calc(100% + .2rem);
  position: absolute;

}
.inputField.error > p {
  color: rgb(248, 114, 73);
}

.btnEnviar {
  justify-self: end;
  grid-column: 2;
}

.address {
  font-style: normal;
}

.address li + li {
  margin-top: 1rem;
}

.redesSociais a svg{
  width: 1.3rem;
  height: 1.3rem;
}

.redesSociais a + a {
  margin-left: 1rem;
}
.modal {
  text-align: center;
}

.modal h3 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.modal button {
  min-width: 200px;
  margin-top: 2rem;
}

@media (max-width: 800px) {
  .form {
    grid-template-columns: auto;
    margin-bottom: 3rem;
    text-align: left;
  }
  .inputFieldMensagem {
    grid-column: 1;
    grid-row:3;
    height: 10rem
  }
  .btnEnviar {
    grid-column: 1;
  }
}
@media (max-width: 550px) {
  .form {
    margin-bottom: 3rem;
  }
}