.container {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img img {
  max-width: 350px;
}

.listaCaracteristicas {
  margin-left: 4rem;
}

.listaCaracteristicas li {
  border-radius: .2rem;
  padding: 1.5rem;
  padding-left: 2rem;
  background: var(--cor-2);
  margin: auto;
  position: relative;
}

.listaCaracteristicas li+li {
  margin-top: 1rem;
}

.listaCaracteristicas li:nth-of-type(2) {
  left: 3rem
}

.listaCaracteristicas li::before {
  content: '';
  display: grid;
  place-items: center;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  top: calc(50% - 1.25rem);
  left: -1.25rem;
  font-family: 'Fredoka';
  font-weight: 600;
  font-size: 1.4rem;
}

.listaCaracteristicas li:nth-of-type(1)::before {
  content: '1.';
  color: var(--cor-2);
  background: var(--cor-3);
}

.listaCaracteristicas li:nth-of-type(2)::before {
  content: '2.';
  color: var(--cor-7);
  background: var(--cor-5);
}

.listaCaracteristicas li:nth-of-type(3)::before {
  content: '3.';
  background: var(--cor-6);
  color: var(--cor-8);
}

.detalhe {
  position: absolute;
  width: 25px;
  height: 25px;
  color: var(--cor-3);
  left: 10%;
  top: 20%
}