.entrada {
  min-height: calc(100vh - 6rem);
  height: 100%;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../assets/enf2.svg'), url('../../assets/enf3.svg');
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
  background-size: 20rem;
}

.caracts {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(3, 140px);
  grid-gap: .5rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.caracts li {
  border-radius: .2rem;
  padding: 1rem
}

.caracts li:nth-of-type(1) {
  background: var(--cor-3);
  color: var(--cor-2);
}

.caracts li:nth-of-type(2) {
  background: var(--cor-5);
  color: var(--cor-7);
}

.caracts li:nth-of-type(3) {
  background: var(--cor-6);
  color: var(--cor-8);
}

.principal {
  margin: auto;
}

.principal h1 {
  font-size: 4rem;
  line-height: 4rem;
}

.principal h1 span:nth-of-type(1),
.principal h1 span:nth-of-type(5) {
  color: var(--cor-6)
}

.principal h1 span:nth-of-type(2),
.principal h1 span:nth-of-type(4) {
  color: var(--cor-5)
}

.principal h1 span:nth-of-type(3) {
  color: var(--cor-3)
}

.principal a {
  margin-top: 3rem;
  transition: .2s;
  border-bottom: 1px solid currentColor;
}

.principal a:hover {
  color: var(--cor-3)
}

.principal a svg {
  width: 1.1rem;
  height: 1.1rem;
  margin-bottom: -3px;
  margin-left: 3px;
}

.funcionamento {
  color: var(--cor-3);
  border: 1px solid rgb(145, 45, 202);
  padding: .3rem .6rem;
  border-radius: 2rem;
  margin-bottom: 1.2rem;
  font-size: .8rem;
  text-transform: uppercase;
  cursor: default
}

.funcionamento span {
  transition: .2s;
}

.funcionamento span:hover {
  color: var(--cor-4)
}

.descricao {
  margin-top: .5rem;
}

.detalhe {
  position: absolute;
}

.detalhe:nth-of-type(1){
  top: 30%;
  left: 12%;
}

.detalhe:nth-of-type(1) svg{
  width: 20px;
  height: 20px;
  fill: var(--cor-4);
}

.detalhe:nth-of-type(2) svg{
  width: 25px;
  fill: var(--cor-6);
  height: 25px;
}
.detalhe:nth-of-type(2) {
  bottom: 40%;
  right: 15%
}

.detalhe:nth-of-type(3) svg{
  width: 30px;
  fill: var(--cor-3);
  height: 30px;
}
.detalhe:nth-of-type(3) {
  bottom: 25%;
  left: 20%
}