.entrada {
  min-height: calc(100vh - 6rem);
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url('../../assets/enf2.svg');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 20rem;
}
.container {
  padding: 1rem;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.img {
  position: absolute;
  right: 20%;
  bottom:0
}

.img img {
  display: block;
  width: 600px;
}

.img::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(144, 99, 202, 0.6);
  width: 400px;
  height: 400px;
  top: 2rem;
  left: 2rem;
  z-index: -1;
  filter: blur(150px)
}
.caracts {
  margin-top: auto;
  display: grid;
  grid-template-columns: auto;
  grid-gap: .5rem;
  position: absolute;
  right: 3rem;
  margin: auto;
}

.caracts li {
  border-radius: .2rem;
  padding: 1rem;
  max-width: 130px;
  text-align: center;
}

.caracts li:nth-of-type(1) {
  background: var(--cor-3);
  color: var(--cor-2);
}

.caracts li:nth-of-type(2) {
  background: var(--cor-5);
  color: var(--cor-7);
}

.caracts li:nth-of-type(3) {
  background: var(--cor-6);
  color: var(--cor-8);
}

.principal {
  margin-top: -4rem;
}
.principal h1 {
  font-size: 4.2rem;
  line-height: 4.2rem;
  text-shadow: 6px 6px 5px rgba(65, 30, 112, 0.5);
}

.principal h1 span:nth-of-type(1),
.principal h1 span:nth-of-type(5) {
  color: var(--cor-6)
}

.principal h1 span:nth-of-type(2),
.principal h1 span:nth-of-type(4) {
  color: var(--cor-5)
}

.principal h1 span:nth-of-type(3) {
  color: var(--cor-3)
}

.principal a {
  margin-top: 3rem;
  transition: .2s;
  border-bottom: 1px solid currentColor;
}

.principal a:hover {
  color: var(--cor-3)
}

.principal a svg {
  width: 1.1rem;
  height: 1.1rem;
  margin-bottom: -3px;
  margin-left: 3px;
}

.descricao {
  margin-top: .5rem;
}

.funcionamento {
  text-transform: uppercase;
  font-size: .8rem;
  color: var(--cor-3);
  transition: .2s;
  margin-bottom: .5rem;
}

.funcionamento:hover {
  color: var(--cor-4)
}