.container {
  padding: 4rem 0
}

.wrapSlider {
  position: relative;
}

.wrapSlider button {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--cor-3);
  top: calc(50% - 1.5rem)
}

.btnAnt {
  right: -1.5rem
}

.btnDep {
  left: -1.5rem
}

.sliderContainer {
  margin: 3rem 0;
  overflow: hidden;
}

.slider {
  display: flex;
}

.slider li {
  background: var(--cor-2);
  height: 17rem;
  min-width: calc((100% - 2rem)/5);
}

.slider li+li {
  margin-left: .5rem;
}