.header {
  position: relative;
  width: 100%;
  height: 6rem;
}

.header nav {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1200px;
}

.itensMenu {
  display: flex;
}

.itensMenu a {
  margin: 0 1rem;
  border-bottom: 1px solid transparent;

}

.itensMenu a.active{
  color: var(--cor-3);
  border-bottom: 1px solid var(--cor-3);
}

.logo {
  padding-right: 1rem;
  font-size: 1.3rem;
  font-family: 'Fredoka';
  line-height: 1.3rem;
  font-weight: 600;
}

