@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Noto+Sans&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

:root {
  --cor-1: #502B80;
  --cor-2: #411E70;
  --cor-3: #9063CA;
  --cor-4: #F5F5F5;
  --cor-5: #FBEE7C;
  --cor-6: #53D6CE;
  --cor-7: #5f581d;
  --cor-8: #1c5753;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background: var(--cor-1);
  color: var(--cor-4);
  font-size: 14px;
  background-image: url('./assets/pattern.svg'), url('./assets/enf.svg');
  background-position: top right;
  background-repeat:repeat, no-repeat;
  background-size: auto, 20rem;
}


h1,
h2, h3{
  font-family: 'Fredoka';
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

a,
button,
input,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
}

input,
button,
textarea {
  border: none;
  outline: 0;
  resize: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 1rem;
  margin: 0 auto
}

.btn-amarelo {
  background: var(--cor-5);
  color: var(--cor-7);
  padding: .8rem 1.2rem;
  border-radius: .2rem;
  transition: .2s;
}

.btn-amarelo:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--cor-2);
}

::-webkit-scrollbar-thumb {
  background: var(--cor-3);
}

::-webkit-scrollbar-thumb:hover {
  background:  var(--cor-4);
}

@media (max-width: 550px) {
  body {
    text-align: center;
    font-size: 13px;
  }
  
}