
.modal {
    display: grid;
    grid-template-columns: 20rem auto;
    grid-template-rows: auto 15rem;
    grid-gap: 1rem;
  }
  
  .imgModal {
    background: var(--cor-2);
    grid-column: 1;
    grid-row: 1 / 3;
  }
  
  .imgModal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
    display: block;
  }
  
  .infosModal {
    grid-row: 1;
    margin-top: 1rem;
  }
  
  .infosModal h3 {
    margin-bottom: .5rem;
    font-size: 1.5rem;
  }
  
  .sabores {
    grid-row: 2;
  }
  
  .sabores > p{
    opacity: .5;
    height: 2rem;
  }
  .sabores ul {
    width: 100%;
    overflow: auto;
    max-height: 13rem;
  }
  .sabores li { 
    padding: .5rem 1rem;
    background: var(--cor-2);
    border-radius: .2rem;
  }
  .sabores li + li {
    margin-top: .3rem;
  }

  @media (max-width: 680px) {
    .modal {
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      overflow: auto;
      padding: 0 1rem;
    margin-right: -1rem;
    margin-left: -1rem;
    }
    
    .imgModal {
      grid-row: 1;
      max-height: 15rem;
    }
    
  .infosModal {
    grid-row: 2;
  }
  .sabores {
    grid-row: 3;
  }
  .sabores ul {
    max-height: initial;
  }
  }