.wrapSlider {
  position: relative;
}

.wrapSlider:hover button {
  opacity: 1;
}

.wrapSlider button {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  top: calc(50% - 1.5rem);
  opacity: 0;
  transition: .2s;
  display: grid;
  place-items: center;
  z-index: 2;
}

.wrapSlider button svg {
width: 30px;
height: 30px;
}

.btnAnt {
  left: -1.5rem
}

.btnDep {
  right: -1.5rem
}

.sliderContainer {
  margin: 3rem 0;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: .2s;
}

.slider li {
  height: 15rem;
  padding: 0 4px;
}

.slider li > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}